<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
		 color="true"
		 convertErrorsToExceptions="true"
		 convertWarningsToExceptions="true"
		 convertNoticesToExceptions="true"
		 stopOnFailure="false"
		 synatxCheck="false"
		 >
	<testsuites>
		<testsuite name="firstTest">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>