{% extends "base.html" %}

{% block content %}
    <article class="overview">
        {% for i in categories %}
            {% if loop.first %}
                <section class="category-first">
            {% else %}
                <section class="category">
            {% endif %}
                <div class="panel panel-default">
                  <div class="panel-body topic_name">
                    {{ i.getName() }}
                  </div>
                </div>
                <header class="row">
                    <div class="col-md-12">
                        <div class="list-group list-group-first">
                        {% for j in topics[i.getId()]%}
                            {% if view.checkPermission('viewTopicAction', j.getId(), user) == true %}
                                {{ view.start_link('forum/view-topic/'~j.getId(), 'list-group-item post_pre') }}
                                    <h4 class="list-group-item-heading post_pre_title">{{ j.getName() }}</h4>
                                    <p class="list-group-item-text"><ul class="list-inline">
                                          <li><b>Topics:</b> 12</li>
                                          <li><b>Post:</b> 43</li>
                                          <li><b>Latest Post:</b> xxxxx</li>
                                        </ul>
                                    </p>
                                  {{ view.end_link() }}
                            {% else %}
                                <h1>Ehhm</h1>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </header>
            </section>
        {% endfor %}
    </article>

{% endblock %}
