{% extends "base.html" %}

{% block content %}
    <article class="overview">
                <section class="category">
                <div class="panel panel-default">
                  <div class="panel-body">
                    {{ post.getTitle() }}
                  </div>
                </div>
                <header class="row">
                    <div class="col-md-12">
                        <div class="list-group list-group-first">
                          {{ view.parserBBCode(post.getContent()) }}
                        </div>
                    </div>
                </header>
            </section>
            <hr />
            {% for i in response %}
            <section class="category">>
            <header class="row">
                <div class="col-md-12">
                    <div class="list-group list-group-first">
                      {{ view.parserBBCode(i.getContent()) }}
                    </div>
                </div>
            </header>
        </section>
        {% endfor %}
    </article>
    {% if user %}
      <section class="create-post">
          <script>
              var wbbOpt = {
                  buttons: "bold,italic,underline,strike,sup,sub,|,img,video,link,|,bullist,numlist,|,fontcolor,fontsize,fontfamily,|, justifyleft, justifycenter,justifyright,|, quote,code,table,removeFormat",
                  smileList: [
                      {title:CURLANG.sm1, img: '<img src="{{ url }}/img/smiles/sm1.png" class="sm">', bbcode:":)"},
                      {title:CURLANG.sm8 ,img: '<img src="{{ url }}/img/smiles/sm8.png" class="sm">', bbcode:":("}
                  ]
              }
              $(function() {
                  $("#editor").wysibb(wbbOpt);
                  $("<input type='hidden' value='' />")
                    .attr("name", "post_id")
                    .attr("value", {{ post.getId() }})
                    .appendTo("#responseForm");
                  $('.bbcode-form-topic-id').val({{ topic_id }});
              })
          </script>
          {{ bbCodeForm.render() }}
      </section>
    {% endif %}
{% endblock %}
