{% extends "base.html" %}

{% block content %}
    <article class="overview">
                <section class="category">
                <div class="panel panel-default">
                  <div class="panel-body topic_name">
                    {{ post.getTitle() }}
                  </div>
                </div>
                <header class="row">
                    <div class="col-md-2 user-row">
                        <img src="http://lorempixel.com/output/animals-q-c-128-128-1.jpg" alt="userPic" class="img-responsive center-block" />
                        <div class="post-username">{{ post.getUser().getUsername() }} <span class="label label-success">Online</span></div>
                        <div class="post-numbers">Beiträge {{ view.countUserPosts(post.getUser().getId()) }}</div>
                    </div>
                    <div class="col-md-10">
                        <div class="list-group list-group-first post_body">
                          {{ view.parserBBCode(post.getContent()) }}
                          <div class="post-edit-bar"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Bearbeiten</div>
                        </div>
                    </div>
                </header>
            </section>
            <hr />
            {% for i in response %}
            <section class="category">
            <header class="row post-response">
                <div class="col-md-2 user-row">
                    <img src="http://lorempixel.com/output/animals-q-c-128-128-1.jpg" alt="userPic" class="img-responsive center-block" />
                    <div class="post-username">{{ i.getUser().getUsername() }} <span class="label label-default">Offline</span></div>
                    <div class="post-numbers">Beiträge {{ view.countUserPosts(i.getUser().getId()) }}</div>
                </div>
                <div class="col-md-10">
                    <div class="list-group list-group-first post_body">
                      {{ view.parserBBCode(i.getContent()) }}
                    </div>
                </div>
            </header>
        </section>
        {% endfor %}
    </article>
    {% if user %}
      <section class="create-post">
          <script>
              var wbbOpt = {
                  buttons: "bold,italic,underline,strike,sup,sub,|,img,video,link,|,bullist,numlist,|,fontcolor,fontsize,fontfamily,|, justifyleft, justifycenter,justifyright,|, quote,code,table,removeFormat",
                  smileList: [
                      {title:CURLANG.sm1, img: '<img src="{{ url }}/img/smiles/sm1.png" class="sm">', bbcode:":)"},
                      {title:CURLANG.sm8 ,img: '<img src="{{ url }}/img/smiles/sm8.png" class="sm">', bbcode:":("}
                  ]
              }
              $(function() {
                  $("#editor").wysibb(wbbOpt);
                  $("<input type='hidden' value='' />")
                    .attr("name", "post_id")
                    .attr("value", {{ post.getId() }})
                    .appendTo("#responseForm");
                  $('.bbcode-form-topic-id').val({{ topic_id }});
                  $('.wysibb').attr('style', 'color: black;');
              })
          </script>
          {{ bbCodeForm.render() }}
      </section>
    {% endif %}
{% endblock %}
