{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>News</h1>
            <hr />
            <div class="col-md-10 news">
                 <h1>Neues Forum</h1>
                 <div class="logo_img">
                    {{ view.include_img('imgs/logo_small.png') }}
                 </div>
                 <em>verfasst von XXXXX</em>
                 <article>
                     <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                     ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                     five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                     of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                     Lorem Ipsum.
                     </p>
                 </article>
                 <!--<a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>-->
             </div>
        </div>
        <div class="col-md-1">
            <h1>Teamspeak</h1>
        </div>
    </div>
{% endblock %}
