{% extends "admin_base.html" %}

{% block admin_content %}
    <div class="row">
        {{ include('partials/admin/sidebar.html') }}
        <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Page erstellen</h3>
              </div>
              <div class="panel-body">
                  {{ pageform.render() }}
              </div>
            </div>
        </div>
        <script>
        tinymce.init({
          selector: '#editor',
          theme: 'modern',
         width: 600,
         height: 300,
         plugins: [
           'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
           'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
           'save table contextmenu directionality emoticons template paste textcolor'
         ],
         toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor emoticons'
          });
        </script>
    </div>
{% endblock %}
