{% extends "admin_base.html" %}

{% block admin_content %}
    <div class="row">
        {{ include('partials/admin/sidebar.html') }}
        <div class="col-md-9">
            <h3>Cronjobs</h3>
            <p>Cronjobs lauffen immer auf <strong>jeder</strong> Seite!</p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Aktive Cronjobs</h3>
              </div>
              <div class="panel-body">
                  {% for i in active_crons %}
                    {{ i }}
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}
