{% extends "admin_base.html" %}

{% block admin_content %}
    <div class="row">
        {{ include('partials/admin/sidebar.html') }}
        <div class="col-md-9">
            <h3>Pages</h3>
            <p>Erstelle eigene Seiten</p>
            <div class="btn-group admin-edit-button" role="group" aria-label="...">
              <button type="button" class="btn btn-default">{{ view.link_to('Erstellen', 'admin/create-pages') }}</button>
              <button type="button" class="btn btn-default">Middle</button>
              <button type="button" class="btn btn-default">Right</button>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Aktive Pages</h3>
              </div>
              <div class="panel-body">
                  <ul>
                      {% for i in pages %}
                        <li>{{ i.getTitle() }}</li>
                      {% endfor %}
                  </ul>
              </div>
            </div>
        </div>

    </div>
{% endblock %}
