{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>Userverwaltung</h1>
            <ul>
                {% for i in users %}
                    <li>
                        {{ view.link_to(i.getUsername(), 'admin/edit-user/'~i.getId()) }}
                        <ul>
                            {% for j in userGroups[i.getUsername()] %}
                                <li>{{ j }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            <ul>
        </div>
        </div>
    </div>
{% endblock %}
