{% extends "admin_base.html" %}

{% block admin_content %}
    <div class="row">
        {{ include('partials/admin/sidebar.html') }}
        <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Neue Usergruppe erstellen</h3>
              </div>
              <div class="panel-body">
                  {{ user_group_form.render() }}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Userverwaltung</h3>
              </div>
              <div class="panel-body">
                  <ul>
                      {% for i in users %}
                          <li>
                              {{ view.link_to(i.getUsername(), 'admin/edit-user/'~i.getId()) }}
                              <ul>
                                  {% for j in userGroups[i.getUsername()] %}
                                      <li>{{ j }}</li>
                                  {% endfor %}
                              </ul>
                          </li>
                      {% endfor %}
                  <ul>
            </div>
        </div>
    </div>
{% endblock %}
